@import './var.scss';
@import './src/fsButton.scss';
@import './src/chart.scss';
@import './src/dialog.scss';
@import './src/app.scss';
*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
