$color-light--primary: #0086ff;
$color-dark--primary: #0089a1;
$color-dark-background: #001529;
// $color-line--primary: #5c8ad5;
$color-darkBlue-1: #001529;
$color-cyan: #68bac9;
$color-brandcolor: #68bac9;
$color-background--primary: #000510;
$color-line--primary: #68bac9;
$chart-default-width: 400px;
$chart-default-height: 300px;
