//color variable
$color-light--primary: #0086ff;
$color-dark--primary: #0089a1;
$color-dark-background: #001529;
$color-darkBlue-1: #001529;
$color-cyan: #68bac9;
$color-brandcolor: #68bac9;
$color-background--primary: #000510;
$color-line--primary: #68bac9;
$color-contrast: orange;
$color-adjacent: #0acc78;
$color-status-normal: #2ed13d;
$color-status-warning: #bb8c0f;
$color-status-danger: #b20000;

//size variable
$chart-default-width: 400px;
$chart-default-height: 300px;
$chart-card-width: 400px;
$chart-card-height: 300px;
$panel-default-width: 550px;
$panelWidth: 420px;
$panelHeight: 98vh;

@font-face {
	font-family: DIN;
	src: url(./font/DIN-Alternate-Bold.ttf);
}

@font-face {
	font-family: RZBGQN;
	src: url(./font/RZBGQN.ttf);
}
