$accentColor=#0080ff //默认主题颜色
$textColor=#ffffff //默认字体颜色
$borderColor=#eaecef //默认边框颜色

html 
.theme-container 
.navbar
.search-box
.nav-links
.can-hide
.sidebar
.nav-item
.router-link-exact-active
.router-link-active
.links
    background: #000310 !important;
    background-color: #000;
    color: #fff;


.navbar
.features
    border-bottom: 1px solid #99999950 !important;

.sidebar   
    border-right: 1px solid #99999950;

.features
.footer
    border-top: 1px solid #99999950 !important;
    color: #ffffff88 !important;
.inner
    border-top: 2px solid #cccccc50 !important;

.sidebar-link.active
  background: linear-gradient(to right, rgba(0, 128, 255,.1) 0%, rgba(0, 128, 255, 0) 100%);

tr:nth-child(2n) 
    background-color: #001529;

tr,th,td
   border: 1px solid #0089a1;

.custom-block.danger
	background: none;
	color #ffbbbb;

.custom-block.tip
	background: none;
	color #aaFFee;	
	border color #0acc78; 