@import '../var.scss';
$sidePanelWidth: 420px;
$sidePanelHeight: 98vh;

@keyframes rotate {
	100% {
		transform: rotate(1turn);
	}
}

.mainFrame {
	display: flex;
	z-index: 1;
	justify-content: space-between;
}

.sidePanel {
	//how
	box-sizing: border-box;
	padding: 10px;
	margin: 1vh 2vw;
	height: $sidePanelHeight;
	width: $sidePanelWidth;

	//where
	position: relative;

	//then
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	&::before {
		content: '';
		z-index: 2;
		position: absolute;
		height: $sidePanelHeight;
		width: $sidePanelWidth;
		top: 0;
		left: 0;
		background: rgba($color: $color-dark-background, $alpha: 0.6);
		border: 1px solid rgba($color-line--primary, 0.6);
		// border-radius: 8px;
		backdrop-filter: blur(1px);
		// clip: rect(15px, 15px, 15px, 15px);
		// box-shadow: inset 0 0 0 2px #42b983;
	}
}

// .leftSidePanel {
// 	position: relative;
// 	display: flex;
// 	padding: 10px;
// 	height: 98vh;
// 	width: $sidePanelWidth;
// 	flex-direction: column;
// 	justify-content: space-between;
// 	align-items: center;
// 	border: 1px solid rgba(#5c8ad5, 0.6);
// }

// .leftSidePanel-line {
// 	overflow: hidden;
// 	position: absolute;
// 	opacity: 0.3;
// 	left: 0;
// 	top: 0;
// 	padding: 10px;
// 	height: 98vh;
// 	width: $sidePanelWidth;
// 	border: 1px solid rgba(#5c8ad5, 0.6);
// 	&::before {
// 		content: '';
// 		position: absolute;
// 		z-index: -2;
// 		left: -150%;
// 		top: -75%;
// 		width: 400%;
// 		height: 200%;
// 		background-color: #1a232a;
// 		background-repeat: no-repeat;
// 		background-position: 0 0;
// 		background-image: conic-gradient(transparent, rgba(168, 239, 255, 1), transparent 10%);
// 		animation: rotate 4s linear infinite;
// 	}
// 	&::after {
// 		content: '';
// 		position: absolute;
// 		z-index: -1;
// 		left: 2px;
// 		top: 2px;
// 		width: calc(100% - 4px);
// 		height: calc(100% - 4px);
// 		background: rgba(0, 5, 16, 1);
// 	}
// }

// .rightSidePanel {
// 	position: relative;
// 	display: flex;
// 	padding: 10px;
// 	height: 98vh;
// 	width: $sidePanelWidth;
// 	flex-direction: column;
// 	justify-content: space-between;
// 	align-items: center;
// 	border: 1px solid rgba(#5c8ad5, 0.6);
// 	box-sizing: border-box;
// }
// .rightSidePanel-line {
// 	overflow: hidden;
// 	position: absolute;
// 	opacity: 0.3;
// 	left: 0;
// 	top: 0;
// 	padding: 10px;
// 	height: 98vh;
// 	width: $sidePanelWidth;
// 	border: 1px solid rgba(#5c8ad5, 0.6);
// 	&::before {
// 		content: '';
// 		position: absolute;
// 		z-index: -2;
// 		left: -150%;
// 		top: -75%;
// 		width: 400%;
// 		height: 200%;
// 		background-color: #1a232a;
// 		background-repeat: no-repeat;
// 		background-position: 0 0;
// 		background-image: conic-gradient(transparent, rgba(168, 239, 255, 1), transparent 10%);
// 		animation: rotate 4s linear infinite;
// 	}
// 	&::after {
// 		content: '';
// 		position: absolute;
// 		z-index: -1;
// 		left: 2px;
// 		top: 2px;
// 		width: calc(100% - 4px);
// 		height: calc(100% - 4px);
// 		background: rgba(0, 5, 16, 1);
// 	}
// }
