.fsChart {
	&-container {
		display: flex;
		padding: 20px;
		width: $chart-default-width;
		height: $chart-default-height;
		box-sizing: border-box;
		border: 1px solid rgba($color-line--primary, 0.6);
		z-index: 999;
		// overflow: scroll;
	}
}
