.fsButton {
	display: inline-block;
	line-height: 1;
	white-space: nowrap;
	cursor: pointer;
	background: $color-dark--primary;
	color: #ffffff;
	-webkit-appearance: none;
	text-align: center;
	box-sizing: border-box;
	outline: none;
	margin: 0;
	transition: 0.1s;
	font-weight: 400;
	padding: 12px 20px;
	min-width: 80px;
	max-height: 40px;
	font-size: 18px;
	border-radius: 2px;
	&:hover {
		color: #ffffff;
		background-color: rgba($color-dark--primary, $alpha: 0.8);
	}

	&--light {
		background-color: $color-light--primary;
		&:hover {
			color: #ffffff;
			background-color: rgba($color-light--primary, $alpha: 0.8);
		}
	}

	&--dark {
		background-color: $color-dark--primary;
		&:hover {
			color: #ffffff;
			background-color: rgba($color-dark--primary, $alpha: 0.8);
		}
	}
	&--lightdark {
		background-color: rgba($color-dark--primary, $alpha: 0.6);
		&:hover {
			color: #ffffff;
			background-color: rgba($color-dark--primary, $alpha: 0.4);
		}
	}
}
