$corner-border: 3px solid rgba($color-adjacent, 1);
.fsPanel {
	//how
	box-sizing: border-box;
	margin: 2vh 2vw;
	width: $chart-default-width + 20px;
	max-height: 90vh;
	overflow: hidden;

	// height: 90vh;
	//where
	position: relative;

	//then
	display: block;
	&::after {
		content: '';
		z-index: $z-panelBack;
		position: absolute;
		height: 100%;
		width: 100%;
		top: 0;
		left: 0;
		background: rgba($color: $color-dark-background, $alpha: 0.6);
		border: 1px solid rgba($color-line--primary, 0.6);
		backdrop-filter: blur(1px);
	}

	@mixin span-con() {
		position: absolute;
		z-index: $z-panelBack + 3;
		display: block;
		width: 16px;
		height: 16px;
		animation: span-twinkle 3s infinite;
	}
	> span:nth-child(1) {
		@include span-con();
		left: -1px;
		top: -1px;
		border-left: $corner-border;
		border-top: $corner-border;
	}
	> span:nth-child(2) {
		@include span-con();
		right: -1px;
		top: -1px;
		border-right: $corner-border;
		border-top: $corner-border;
	}
	> span:nth-child(3) {
		@include span-con();
		left: -1px;
		bottom: -1px;
		border-left: $corner-border;
		border-bottom: $corner-border;
	}
	> span:nth-child(4) {
		@include span-con();
		right: -1px;
		bottom: -1px;
		border-right: $corner-border;
		border-bottom: $corner-border;
	}
}
