.fsList {
	padding: 10px;
	height: $chart-default-height + 100px;

	& table {
		display: block;
		border-spacing: 0;
		max-height: $chart-default-height;
		white-space: nowrap;
		border: 1px solid rgba($color-line--primary, 0.6);
		border-bottom: none;
		overflow-y: scroll;
		margin: 0 !important;
	}
	& thead {
		height: 56px;
	}
	& tr {
		height: 48px !important;
		background: none !important;
		color: rgba($color: #fff, $alpha: 0.87);
		border: none !important;
	}

	& th {
		height: 56px !important;
		font-size: 16px !important;
		color: rgba($color-brandcolor, 0.87) !important;
		border: none !important;
	}
	& td {
		color: rgba($color-brandcolor, 0.97) !important;
		height: 48px !important;
		max-height: 48px !important;
		max-width: 200px !important;
		overflow: hidden !important;
		text-overflow: ellipsis;
		text-align: center;
		padding: 0px 12px;
		border: none !important;
		border-bottom: 1px solid rgba($color-line--primary, 0.3) !important;
	}

	& col {
		width: 200px;
	}
}
