.fstitle {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100vw;
	height: 10vh;
	z-index: $z-maninFrame;
	&-container {
		display: flex;
		width: 50%;
		justify-content: center;
		align-items: center;
	}
	@mixin line() {
		width: 80px;
		height: 2px;
		margin: 0px 15px;
	}
	&-line {
		&--left {
			@include line();
			background-image: linear-gradient(
				to left,
				rgba($color: $color-brandcolor, $alpha: 0),
				rgba($color: $color-brandcolor, $alpha: 1)
			);
		}
		&--right {
			@include line();
			background-image: linear-gradient(
				to right,
				rgba($color: $color-brandcolor, $alpha: 0),
				rgba($color: $color-brandcolor, $alpha: 1)
			);
		}
	}
	&-text {
		display: inline-block;
		font-size: 2.5rem;
		// font-weight: bold;
		font-family: RZBGQN;
		color: rgba($color: #fff, $alpha: 0.87);
		text-shadow: 0 0 16px rgba($color: $color-brandcolor, $alpha: 0.87);
		letter-spacing: 10px;
	}
}
