.fsVideoPlayer {
	display: block;
	text-align: center;
	&-title {
		margin: 8px 20px;
		// padding: 0px 20px;
		text-align: left;
		color: rgba($color: $color-brandcolor, $alpha: 0.87);
		height: 36px;
		span {
			font-size: 18px;
			font-weight: 600;
			line-height: 36px;
		}
	}
	&-container {
		display: inline-block;
		margin-bottom: 20px;
		width: 360px;
	}
}
