.fsButton {
  display: inline-block;
  line-height: 1;
  white-space: nowrap;
  cursor: pointer;
  background: #0acccc;
  color: #ffffff;
  -webkit-appearance: none;
  text-align: center;
  box-sizing: border-box;
  outline: none;
  margin: 0;
  transition: 0.1s;
  font-weight: 400;
  -moz-user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  padding: 12px 20px;
  font-size: 16px;
  border-radius: 2px;
}

.fsButton:hover {
  color: #ffffff;
  background-color: rgba(10, 204, 204, 0.8);
}

.fsButton--light {
  background-color: #1470cc;
}

.fsButton--light:hover {
  color: #ffffff;
  background-color: rgba(20, 112, 204, 0.8);
}