.fsButton {
  display: inline-block;
  line-height: 1;
  white-space: nowrap;
  cursor: pointer;
  background: black;
  color: #ffffff;
  -webkit-appearance: none;
  text-align: center;
  box-sizing: border-box;
  outline: none;
  margin: 0;
  transition: 0.1s;
  font-weight: 400;
  padding: 12px 20px;
  min-width: 80px;
  max-height: 40px;
  font-size: 18px;
  border-radius: 2px; }
  .fsButton:hover {
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.8); }
  .fsButton--light {
    background-color: #0086ff; }
    .fsButton--light:hover {
      color: #ffffff;
      background-color: rgba(0, 134, 255, 0.8); }
  .fsButton--dark {
    background-color: black; }
    .fsButton--dark:hover {
      color: #ffffff;
      background-color: rgba(0, 0, 0, 0.8); }
  .fsButton--lightdark {
    background-color: rgba(0, 0, 0, 0.6); }
    .fsButton--lightdark:hover {
      color: #ffffff;
      background-color: rgba(0, 0, 0, 0.4); }

.fsChart-container {
  display: flex;
  padding: 20px;
  width: 400px;
  height: 300px;
  box-sizing: border-box;
  border: 1px solid rgba(104, 186, 201, 0.6);
  z-index: 999; }

.dialog-mask {
  z-index: 1000;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 11, 15, 0.6); }

.dialog-innerbox {
  width: 500px;
  height: 400px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 5px;
  z-index: 1001;
  position: absolute;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  left: 50%;
  top: 50%;
  transform: translate(-250px, -200px); }

.dialog-header {
  display: flex;
  color: #000b0f;
  height: 20%;
  width: 100%;
  box-sizing: border-box;
  padding: 18px 16px;
  line-height: 1;
  border-bottom: 1px solid #000b0f;
  justify-content: space-between;
  align-items: center; }
  .dialog-header .icon {
    display: inline-block;
    width: 32px;
    height: 32px; }
  .dialog-header .text {
    display: inline-block;
    height: 4p8x; }
    .dialog-header .text span {
      margin: 0;
      font-size: 24px;
      line-height: 48px;
      color: rgba(0, 11, 15, 0.8);
      vertical-align: bottom; }

.dialog-content {
  height: 60%;
  padding: 20px 20px; }
  .dialog-content-palceholder {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000b0f;
    height: 100%;
    font-size: 28px; }

.dialog-footer {
  display: flex;
  color: #000b0f;
  height: 20%;
  width: 100%;
  border-top: 1px solid #000b0f;
  justify-content: flex-end;
  align-items: center;
  padding: 18px 16px; }
  .dialog-footer > * {
    margin-right: 16px; }

@keyframes rotate {
  100% {
    transform: rotate(1turn); } }

.mainFrame {
  display: flex;
  z-index: 1;
  justify-content: space-between; }

.sidePanel {
  box-sizing: border-box;
  padding: 10px;
  margin: 1vh 2vw;
  height: 98vh;
  width: 420px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center; }
  .sidePanel::before {
    content: '';
    z-index: 2;
    position: absolute;
    height: 98vh;
    width: 420px;
    top: 0;
    left: 0;
    background: rgba(0, 21, 41, 0.6);
    border: 1px solid rgba(104, 186, 201, 0.6);
    backdrop-filter: blur(1px); }

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }
